* {
	box-sizing: border-box;
}

:root {
	--color-red: #FF9AA2;
	--color-green: #B5EAD7;
	--color-blue: #C7CEEA;
	--color-yellow: #FFFFD8;
	--color-orange: #FFDAC1;
	--color-cyan: #E0FEFE;

	--background-color: var(--color-yellow);
}

html, body {
	position: relative;
	width: 100%;
}

body {
	color: #333;
	background-color: var(--background-color);
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

button:disabled {
	color: #999;
	cursor: not-allowed;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
